// Colors
$black: #000000;
$white: #ffffff;

// Fonts
$font: sans-serif;
$font-h1: 40px;
$font-h2: 28px;
$font-h3: 22px;
$font-h4: 18px;
$font-paragraph: 18px;
$font-weight-thin: 199;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

// Spacing
$spacing-004: 4px;
$spacing-008: 8px;
$spacing-012: 12px;
$spacing-016: 16px;
$spacing-024: 24px;
$spacing-032: 32px;
$spacing-048: 48px;
$spacing-064: 64px;
$spacing-096: 96px;
$spacing-128: 128px;

// Radius
$border-radius-full: 100px;

// Effects
$transition: all 0.2s ease-in-out;

// Mixin
