// Colors
$black: 000;
$blue: #3D5AF1;
$white: #fff;
$super-light-gray:#FBFBFB;
$light-gray: #F8F8F8;
$black: #23262F;

$red: #F3425B;
$green: #67D7A3;
$yellow: #FFC107;


// Fonts
$font: sans-serif;
$font-h1: 40px;
$font-h2: 28px;
$font-h3: 22px;
$font-h4: 18px;
$font-large: 18px;
$font-normal: 14px;
$font-small: 12px;

// Font weights
$font-weight-thin: 199;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

// Spacing
$spacing-004: 4px;
$spacing-008: 8px;
$spacing-012: 12px;
$spacing-016: 16px;
$spacing-024: 24px;
$spacing-032: 32px;
$spacing-048: 48px;
$spacing-064: 64px;
$spacing-096: 96px;
$spacing-128: 128px;

// Radius
$border-radius-5: 5px;
$border-radius-10: 10px;

// Effects
$transition: all 0.2s ease-in-out;
$scale: scale(1.05);

// App

// Mixin
