@import 'src/styles/variables';

.waypoints {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto 1fr;
  row-gap: $spacing-012;
  column-gap: $spacing-016;
  grid-template-areas:
    'gradientbar .'
    'gradientbar .'
    'gradientbar .'
    'gradientbar .'
    'gradientbar .';
  .gradient-bar {
    justify-content: center;
    align-items: center;
    grid-area: gradientbar;
    background-color: $blue;
    height: 100%;
    width: 3px;
    border-radius: 2px;
    display: grid;
    grid-template-areas:
      '.'
      '.'
      'indicator'
      '.'
      '.';
    background: linear-gradient(
      0deg,
      rgba(67, 95, 241, 0.25) 0%,
      rgba(67, 95, 241, 0.5) 50%,
      rgba(67, 95, 241, 0.25) 100%
    );
    .indicator {
      grid-area: indicator;
      height: 10px;
      width: 10px;
      border-radius: 999px;
      border: 2px solid $blue;
      background-color: white;
    }
  }
}
