@import 'src/styles/variables';

.PageWrapper {
  max-width: 100vw;
  overflow: hidden;
  background-color: $super-light-gray;
  min-height: 100vh;
  padding-left: 65px;

  .inner {
    display: grid;
    gap: $spacing-012;
    padding: $spacing-032;
  }
}
