@import 'src/styles/variables';

.PageWrapper {
  max-width: 100vw;
  overflow: hidden;
  background-color: $super-light-gray;
  min-height: 100vh;
  padding-left: 60px;

  &.sidebar {
    padding-right: 400px;
    @media only screen and (max-width: 1000px) {
      padding-right: 0;
    }
  }

  .inner {
    display: grid;
    gap: $spacing-012;
    padding: $spacing-048;
    max-width: 100%;
    overflow: hidden;
    height: fit-content;

    &.fullscreen {
      padding: 0;
      position: relative;
    }
  }

  .sidebar {
    width: 400px;
    background-color: $white;
    height: 100vh;
    padding: $spacing-048 0;
    max-width: 400px;
    gap: $spacing-016;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
    position: fixed;
    right: 0;
    top: 0;
    @media only screen and (max-width: 1000px) {
      display: none;
    }

    .heading {
      padding: 0 $spacing-032;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: $spacing-016;
      font-size: 25px;
      max-width: 100%;

      svg {
        cursor: pointer;
      }
    }
  }
}
